<div class="buttons">
  <button [routerLink]="['/greeting']" routerLinkActive="active">Greeting</button>
  <button [routerLink]="['/events']" routerLinkActive="active">Events</button>
  <button [routerLink]="['/parent']" routerLinkActive="active">Parent</button>
  <button [routerLink]="['/child']" routerLinkActive="active">Child</button>
  <button [routerLink]="['/people']" routerLinkActive="active">People</button>
</div>

<div class="links">
  <a (click)="onLink('greeting')">Greeting</a>
  <a (click)="onLink('events')">Events</a>
  <a (click)="onLink('parent')">Parent</a>
  <a (click)="onLink('child')">Child</a>
  <a (click)="onLink('people')">People</a>
</div>

<hr>
<router-outlet></router-outlet>

<hr>
<h2> Alerts </h2>
<app-alert [text]="titles[0]" (pulsedAlert)="onPulsedAlert($event)"></app-alert>
<app-alert [subtitle]="titles[1]"></app-alert>
<app-alert text="message 2" subtitle="subtitle 2"></app-alert>
<hr>

<h2>Two way binding</h2>
<input type="text" [(ngModel)]="textField">
<p>{{ textField }}</p>
<button (click)="onClick()">Click</button>

<div>
  <input type="text" [(ngModel)]="person.fname">
  <input type="text" [(ngModel)]="person.lname">
  <input type="text" [(ngModel)]="person.age">
</div>
<p> My name is {{person.fname}} {{person.lname}} and I'm {{person.age}} years old </p>
<hr>

<h2>Directives</h2>
<p underline [config]="{ colorHover: 'yellow', colorNoHover: 'blue'}">Underlined paragraph with a directive that also changes color
  on mouse over and restores it on mouse out.
</p>
<p [underline]="{ colorHover: 'red', colorNoHover: 'white'}">Underlined paragraph with a directive that also changes color
  on mouse over and restores it on mouse out. Different input config.
</p>

