.back {
  background-color: burlywood;
  opacity: 70%;
  line-height: 10px;
}

.transform {
  text-decoration: underline;
  text-transform: capitalize;
}

.border {
  border: solid 2px gray;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}
